.sliderInfo{
    background-color:aquamarine;
    border-radius: 50% 50% 0% 0%;
    border: solid;
    text-align: center;
    position: absolute;
    overflow:hidden;
    top:94%;
    bottom: 0;
    left: 0;
    right:0;
    transition: 2.5s; 
}
.sliderInfo.show{
    border-radius: 5% 5% 0% 0%;
    background-color: aquamarine;
    text-align: center;
    position:absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    transition: 2.5s; 
}

.buttonPrefs{
    border-radius: 50% 50% 20% 20%;
    margin:auto;
    margin-top: 0.1vw;
    color: black;
    position: inherit;
    border: solid;
    width: 20%;
    left:40%;
    height:auto;
    cursor: pointer;
    transition: background-color 1s;  
}
.buttonPrefs:hover{
    background-color:cornflowerblue;
}

.arrow{
    border:solid;
    border-width: 0 3px 3px 0;
    display:inline-block;
    padding:3px;
    transition: 1s;
}
.arrow.down{
    transform:rotate(45deg);
}
.arrow.up{
    transform:rotate(-135deg);
}

.sliderChildren{
    position: absolute;
    display:grid;
    grid-template-areas: 'Intro Intro'
                         'Social Languages'                   
    ;
    grid-row-gap: 10%;
    align-content:start;
    height: 0%;
    width: 0%;
    opacity:0;
    overflow: hidden;
    transition:height 1s ease 1s, width 1s ease 1s , opacity 1s , margin-top 2s , top 5s;
    top:200%;
    padding: 1vw;
}

.sliderChildren.show{
    margin-top:3vw;
    opacity: 1;
    height: 100%;
    width: 100%;
    top:0;
    transition:height 0s, width 0s, opacity 2s, margin-top 2s, top 1.8s;
}